@model IEnumerable<Central.Data.Models.ToDo> 
 @*model directive*@ 
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World the time is @DateTime.Now.ToLongTimeString()</h1>
</div>



