@model IEnumerable<Central.Data.Models.ToDo> 
 @*model directive*@ 
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World the time is @DateTime.Now.ToLongTimeString()</h1>
    <div>There are @Model.Count() things to do still.</div>
</div>

<ul>
    @foreach (var item in Model)
            {
                <li>@item.Item</li>
            }
</ul>

